<div class="row">
    <div class="col-sm-12">
      <div class="field">
        <%= f.label :username %><br>
        <%= f.input_field :username, :class => "input-lg" %>
      </div>
    </div>
<!--     <div class="col-sm-6">
      <div class="field">
        <%= f.label :role %><br>
        <%= f.input_field :role, :class => "input-lg" %>
      </div>
    </div> -->
  </div>
  <br>
  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.input_field :email, :class => "input-lg" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :active %><br>
        <%= f.check_box :active, :class => "input-lg" %>
      </div>
    </div>
  </div> -->
  <br>
  <% if not(logged_in?) or (logged_in? and current_user.role == "volunteer") or (logged_in? and current_user.role == "admin" and (controller.action_name == "new" or controller.action_name == "create")) %>
  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :password %><br>
        <%= f.input_field :password, :class => "input-lg" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.input_field :password_confirmation, :class => "input-lg" %>
      </div>
    </div>
  </div><br>
  <% end %>