<p id="notice"><%= notice %></p>

<p>
  <h2><strong><%= @guardian.proper_name %></strong></h2>

<!--   <strong>Household:</strong>
   <%# link_to @guardian.last_name, @guardian.household %>
</p> -->

<h3>Contact Information</h3>
<p>

  	<strong>Cell Phone:</strong>
  		<%= @guardian.cell_phone %> <br>

  	<strong>Receives text messages:</strong>
  		<% if @guardian.receives_text_msgs==true %>
    		<%=link_to image_tag("check16.png")%>
    	<% else %>
    		<%=link_to image_tag("missing16.png")%>
    	<% end %>
    <br>
  	<strong>Email:</strong>
  		<%= @guardian.email %>
</p>

<%= link_to(image_tag('edit.png'), edit_guardian_path(@guardian)) %> Edit Guardian Info |
<%= link_to(image_tag('edit.png'), edit_user_path(@guardian.user)) %> Edit User Info |  
<%= link_to(image_tag('back16.png'), guardians_path) %> Back
