<div class="container well">
<center><h2>Teams</h2>
<%= link_to 'New Team', new_team_path %></center>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bracket</th>
      <th>Enrollment</th>
      <th>Number of Coaches</th>
      <th>Record (Wins by Losses)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <% if team.bracket.gender == "male"%>
        <td class="boy"><%= link_to team.name, team %></td>
        <%else%>
        <td class="girl"><%= link_to team.name, team %></td>
        <%end%> 
        <td><%= team.bracket.name %></td>
        <td>
          <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="#{team.roster_spots.count}" aria-valuemin="0" aria-valuemax="#{team.max_students}" style="width: #{team.roster_spots.count}%;"></div>
          </div> -->
          <%= "#{team.roster_spots.active.count} out of #{team.max_students}"  %></td>
        <td><%= team.volunteers.to_a.count  %></td> 
        <td><%= "#{team.num_wins} - #{team.num_losses}"  %></td> 
        <td><%= link_to(image_tag('edit.png'), edit_team_path(team)) %></td>
        <td><%= link_to(image_tag('delete.png'), team, method: :delete, data: { confirm: 'Are you sure?' })%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @teams, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

</div>
