<center>
  <p id="notice"><%#= notice %></p>
  <div class="row">
    <div class="col-sm-12">

      <h3>
        <!-- <strong>Name:</strong> -->
        <b><%= @team.name + " " %></b><%= "(" + @team.num_wins.to_s + "-" + @team.num_losses.to_s + ")" %>
      </h3>

      <h4>
        <!-- <strong>Bracket:</strong> -->
        <%= @team.bracket.gender.capitalize + " - " + @team.bracket.min_age.to_s + "-" + @team.bracket.max_age.to_s %> age bracket
      </h4>

      <h4>
        <!-- <strong>Spots Filled:</strong> -->
        <%= @active_rs.length.to_s + " out of " + @team.max_students.to_s %> spots filled
      </h4>

    </div>
  </div>
  <% if logged_in? and current_user.role == "admin" %>
  <div class="noprint">
  <%= link_to(image_tag('edit.png'), edit_team_path(@team)) %> Edit | 
  <%= link_to(image_tag('back16.png'), teams_path) %> Back
</div>
<%end%>
</center> <br>

<div class="row">
  <div class="col-sm-6">
    <%= render :partial => 'volunteer_fields' %>
    <%= render :partial =>  'student_details' %>
  </div>
  <div class="col-sm-6">
    <%= render :partial => 'team_schedule' %>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-6">
    <%# render :partial =>  'student_details' %>
  </div>
</div> -->

  <!-- <p>
    <strong>Num students:</strong>
    <%= @team.roster_spots.count %>
  </p>

  <p>
    <strong>Max students:</strong>
    <%= @team.max_students %>
  </p>

  <p>
    <strong>Num wins:</strong>
    <%= @team.num_wins %>
  </p>

  <p>
    <strong>Num losses:</strong>
    <%= @team.num_losses %>
  </p> -->

  
