<div class="container well">
  <center><h1>Brackets</h1>
    <%= link_to 'New Bracket', new_bracket_path %></center>

    <br>

    <div class="row">
      <div class="col-sm-6">
        <center><h3>MALE</h3></center>
        <table class="table">
          <thead>
            <tr>
              <th>Bracket</th>
              <!-- <th>Gender</th> -->
              <th>Tournament</th>
              <th>Active</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @male_brackets.each do |bracket| %>
            <tr>
              <td><%= link_to "#{bracket.min_age} - #{bracket.max_age}", bracket %></td>
              <!-- <td><%= bracket.gender %></td> -->
              <td><%= bracket.tournament.name %></td>
              <td><%= bracket.active %></td>
              <td><%= link_to(image_tag('edit.png'), edit_bracket_path(bracket)) %></td>
              <td><%= link_to(image_tag('delete.png'), bracket, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <span class="paginate">
          <%= will_paginate @male_brackets, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </span>
      </div>

      <div class="col-sm-6">
        <center><h3>FEMALE</h3></center>
        <table class="table">
          <thead>
            <tr>
              <th>Bracket</th>
              <!-- <th>Gender</th> -->
              <th>Tournament</th>
              <th>Active</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @female_brackets.each do |bracket| %>
            <tr>
              <td><%= link_to "#{bracket.min_age} - #{bracket.max_age}", bracket %></td>
              <!-- <td><%= bracket.gender %></td> -->
              <td><%= bracket.tournament.name %></td>
              <td><%= bracket.active %></td>
              <td><%= link_to(image_tag('edit.png'), edit_bracket_path(bracket)) %></td>
              <td><%= link_to(image_tag('delete.png'), bracket, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <span class="paginate">
          <%= will_paginate @female_brackets, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </span>
      </div>
    </div>
  </div>
