<p id="notice"><%= notice %></p>

<h1>Bracket Information</h1>

<hr>

<div class="row">
  <div class="col-sm-4">
    <p>
      <strong>Gender:</strong>
      <%= @bracket.gender %>
    </p>
  </div>
    <div class="col-sm-4">
    <p>
      <strong>Tournament:</strong>
      <%= @bracket.tournament.name %>
    </p>
  </div>
    <div class="col-sm-4">
   <p>
  <strong>Active:</strong>
  <% if @bracket.active %>
   <%= link_to (image_tag('check16.png')) %> 
   <%else%>
   <%= link_to (image_tag('missing16.png')) %> 
   <%end%>
</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <p>
      <strong>Age range:</strong>
      <%= @bracket.min_age.to_s + "-" + @bracket.max_age.to_s %>
    </p>
  </div>
  <div class="col-sm-4">
   <p>
    <strong>Maximum number of students:</strong>
    <%= @bracket.max_students %>
  </p>
</div>
</div>

<div class="row">
  <div class="col-sm-12">
   <%= link_to(image_tag('edit.png'), edit_bracket_path(@bracket)) %> Edit | 
   <%= link_to(image_tag('back16.png'), brackets_path) %> Back
 </div>
</div>

<hr>

<h3>Registered Students</h3>

<div class="row">
    <table class="table">
   <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Grade</th>
      <!-- <th>Team</th> -->
      <th>Student Cell phone</th>
      <th>Home phone</th>
      <th>Allergies</th>
      <th>Medications</th>
      <th>Cleared?</th>
      <th>Active?</th>
      <th></th>
      <th></th>
    </tr>
  </thead> 

  <tbody>
   <% @bracket.registrations.active.map{|r| r.student}.each do |student| %>
   
   <tr>
    <% if student.gender == "male"%>
    <td class="boy"><%= link_to student.proper_name, student %></td>
    <%else%>
    <td class="girl"><%= link_to student.proper_name, student %></td>
    <%end%> 
    <td><%= student.age %></td>
    <td>
      <% if student.grade == 0 %>
        <%= "K" %>
      <%else%>
        <%= student.grade %>
      <%end%>
    </td>
    <!-- <td><%#= student.team.name unless student.team.name.nil?%></td> -->
    <td width="40"><%= number_to_phone student.cell_phone %></td>
    <td><%= number_to_phone student.household.home_phone %></td>
    <td width="40"><%= student.allergies %></td>
    <td width="40"><%= student.medications %></td> 
        <td>
         <% if (student.has_report_card) && (student.has_proof_of_insurance) && (student.has_physical) && (student.has_birth_certificate) %>
         <%= link_to(image_tag('check16.png')) %> 
         <%else%>
         <%= link_to(image_tag('missing16.png')) %> 
         <%end%>
        </td>
        <td>
        <% deact = "" %>
         <% if (student.active) %>
         <%= link_to(image_tag('check16.png')) %> 
         <% deact = "Deactivate" %>
         <%else%>
         <%= link_to(image_tag('missing16.png')) %> 
          <% deact = "Activate" %>
         <%end%>
        </td>
    <td><%= link_to(image_tag('edit.png'), edit_student_path(student)) %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

