<center><h2>Documents</h2></center>  
<table class="table">
 <thead>
  <tr>
    <th>Birth certificate</th>
    <th>Report Card</th>
    <th>Proof of Insurance</th>
    <th>Physical</th>
  </tr>
</thead> 

<tbody>
 <tr>
  <td>
   <% if @student.bc_checkoff %>
   <%= image_tag('check16.png') %>
   <% else %>
   <%= image_tag("missing16.png") %>
   <% end %>
 </td>
  <td>
   <% if @student.rc_checkoff %>
   <%= image_tag('check16.png') %>
   <%else%>
   <%= image_tag('missing16.png') %>
   <%end%>
 </td>
 <td>
  <% if @student.poi_checkoff %>
  <%= image_tag('check16.png') %>
  <%else%>
  <%= image_tag('missing16.png') %>
  <%end%>
</td> 
<td>
  <% if @student.phy_checkoff %>
  <%= image_tag('check16.png') %>
  <%else%>
  <%= image_tag('missing16.png') %>
  <%end%>
</td>
</tr>
</tbody>
</table>
