<%= simple_form_for(@student) do |f| %>

<% if @student.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

  <ul>
    <% @student.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container well">
  
  <h3>General Student Information</h3>

  <br>

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <%#= f.input :first_name, :class => 'input-lg' %>
      <div class="field">
        <%= f.label :first_name %> <br>
        <%= f.input_field :first_name, :class => "input-lg" %>
      </div> 
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :last_name %> <br>
        <%= f.input_field :last_name, :class => "input-lg" %>
      </div>
    </div>
  </div>

  <br>

  <div class ="row">
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :gender %> <br>
        <%= f.input_field :gender, prompt: "Please Select...", collection: Student::GENDER_ARRAY %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="field">
        <%= f.label :dob, :label => "Date of Birth" %> <br>
        <%= f.input_field :dob, as: :date, :order =>[:month, :day, :year], :start_year => 20.years.ago.year, :end_year => 5.years.ago.year %>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :cell_phone, :label => "Participant's Cell Phone" %><br>
        <%= f.input_field :cell_phone, as: :string, :class => "input-lg" %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :email, :label => "Participant's Email" %><br>
        <%= f.input_field :email, as: :string, :class => "input-lg" %>
      </div>
    </div>
  </div>

  <br> 

  <div class="row">
   <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :school, :label => "Name of School" %><br>
      <%= f.input_field :school, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
   <div class="field">
     <%= f.label :grade, :label => "Grade as of September, #{Time.now.year}" %> <br>
     <%= f.input_field :grade, collection: Student::GRADESWITHK_ARRAY, prompt: "Please Select..." %>
   </div>
 </div>
</div>

<br>

 <div class="row">
   <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :district, :label => "School District" %><br>
      <%= f.input_field :district, collection: School::DISTRICT_ARRAY, prompt: "Please Select..." %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :gpa, :label => "GPA" %><br>
      <%= f.input_field :gpa, collection: Student::GPA_ARRAY, prompt: "Please Select..." %>
    </div>
  </div>
</div>

<br> 

 <div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :pastparticipation, :label => "Please indicate number of years you have participated in Project CHUCK. If none, please enter 0." %><br>
      <%= f.input_field :pastparticipation, collection: Student::PROJECTCHUCK_YEARS, prompt: "Please Select...", :class => "input-lg" %>
    </div>
  </div>
  <% if logged_in? and current_user.role == "admin" %>
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%#= f.label :household_id, :label => "Please indicate number of years you have participated in Project CHUCK. If none, please enter 0." %>
        <%#= f.input_field :pastparticipation, collection: Student::PROJECTCHUCK_YEARS, prompt: "Please Select...", :class => "input-lg" %>
        <%= f.label :household_id, :label => "Guardian" %><br>
        <%= f.collection_select :household_id, @households, :id, lambda{|house| house.guardian.name}, prompt: "Select..." %>
      </div>
    </div>
  <% end %>
</div>

<br>

<br>

  <div class ="row">
    <div class="col-xs-3 col-sm-3">
      <div class="field">
        <%= f.label :facebook %> <br>
        <%= f.text_field :facebook, :class => "input-lg", :placeholder => "facebook.com/________" %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3">
      <div class="field">
        <%= f.label :twitter %> <br>
        <%= f.text_field :twitter, :class => "input-lg", :placeholder => "@__________" %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3">
      <div class="field">
        <%= f.label :instagram %> <br>
        <%= f.text_field :instagram, :class => "input-lg", :placeholder => "@__________" %>
      </div>
    </div>
  </div>

  <br>

<hr>

<h3>Contact Information</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :emergency_contact_name, :label => "Name of Emergency Contact" %> <br>
      <%= f.input_field :emergency_contact_name, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :emergency_contact_phone, :label => "Phone Number of Emergency Contact" %> <br>
      <%= f.input_field :emergency_contact_phone, as: :string, :class => "input-lg"  %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :emergency_contact_relation, :label => "Emergency Contact's Relation to Participant" %> <br>
      <%= f.input_field :emergency_contact_relation, :class => "input-lg" %>
    </div>
  </div>
  <% if !@student.bc_checkoff %>
      <div class="col-xs-6 col-sm-6">
        <div class="field">
          <%= f.label :birth_certificate, :label => "Birth Certificate Upload" %>
          <%= f.input_field :birth_certificate, :as => :file, :class => "input-lg" %>
        </div>
      </div>
  <% end %>
</div>

<br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :jersey_size %> <br>
      <%= f.input_field :jersey_size, collection: Student::JERSEYSIZES, prompt: "Please Select...", :class => "input-lg" %>
    </div>
  </div>
  <% if !@student.rc_checkoff %>
      <div class="col-xs-6 col-sm-6">
        <div class="field">
          <%= f.label :report_card, :label => "Report Card Upload" %> <br>
          <%= f.input_field :report_card, :as => :file, :class => "input-lg" %>
        </div>
      </div>
  <% end %>
</div>

<br><hr>

<h3>Participant Insurance Information</h3><br>

<div class ="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :insurance_provider, :label => "Name of Insurance Company" %> <br>
      <%= f.input_field :insurance_provider, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :insurance_policy_no, :label => "Policy Number" %><br>
      <%= f.input_field :insurance_policy_no, :class => "input-lg" %>
    </div>
  </div>
</div>

<br>

<% if !@student.poi_checkoff %>
    <div class ="row">
      <div class="col-xs-6 col-sm-6">
       <div class="field">
         <%= f.label :proof_of_insurance, :label => "Proof of Insurance Upload" %>
         <%= f.input_field :proof_of_insurance, :as => :file, :class => "input-lg" %>
       </div>
     </div>
    </div>
<% end %>

<br> <hr>

<h3>Participant Medical Information</h3><br>

<div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="field">
    <%= f.label :family_physician %><br>
    <%= f.input_field :family_physician, :class => "input-lg" %>
  </div>
</div>
<div class="col-xs-6 col-sm-6">
  <div class="field">
    <%= f.label :physician_phone %><br>
    <%= f.input_field :physician_phone, as: :string, :class => "input-lg" %>
  </div>
</div>
</div>

<br>

<div class="row">
  <% if !@student.phy_checkoff %>
      <div class="col-xs-6 col-sm-6">
        <div class="field">
          <%= f.label :physical, :label => "Physical Upload" %>
          <%= f.input_field :physical, :as => :file, :class => "input-lg" %>
        </div>
      </div>
  <% end %>
  <div class="col-xs-4 col-sm-4">
    <div class="field">
      <%= f.label :physical_date %><br>
      <%= f.input_field :physical_date, as: :date, :order =>[:month, :day, :year], :start_year => 10.years.ago.year, :end_year => Time.now.year %>
    </div>
  </div> 
</div>

<br><hr>

<h3>Medical and Insurance Information</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :allergies %><br>
      <%= f.input_field :allergies, as: :text, :class => "input-lg" %>
    </div>
  </div> 
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :medications %><br>
      <%= f.input_field :medications, as: :text, :class => "input-lg" %>
    </div>
  </div>
</div>

<br>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <p class="widthfit">Facts concerning the child's medical history including allergies, medications, and any physical impairment to which a physician should be alerted are listed below. I represent that the list below is current and accurate and includes all allergies. In case of an accident or illness, I hereby authorize a representative of Project C.H.U.C.K., a program of Best of the Batch Foundation, to use his/her judgment in obtaining immediate medical care. I give my consent for the administration of emergency medical treatment by an emergency medical team, licensed physician or hospital chosen by Best of the Batch Foundation. </p>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div class="field">
      <%= f.check_box :parent_consent_agree %>
      <%= f.label :parent_consent_agree, :label => "Parent/Guardian - Click to agree with the above" %>
      <!-- <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="...">
      </span>
      <label type="text" class="form-control" aria-label="Parent/Guardian - Click if you agree:">
      </div> -->

    </div>
  </div>
</div>

<br>

<h3>Promise</h3>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <p class="widthfit">I agree to take responsibility as a student-athlete to read my assigned book, attend study hall, and to review and follow all Best of the Batch Foundation and Project C.H.U.C.K. rules. (Click if you agree)</p>
    <!-- <h3>Click to agree to the above statement</h3><br> -->
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.check_box :child_promise_agree %>
      <%= f.label :child_promise_agree, :label => "Student Participant - Click to agree with the above" %> <br>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.check_box :parent_promise_agree %>
      <%= f.label :parent_promise_agree, :label => "Parent/Guardian - Click to agree with the above" %> <br>
    </div>
  </div>
</div>

<br>

<h3>Statement of Parental Responsibilities and Release</h3>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <p class="widthfit">To participate in Project C.H.U.C.K. in consideration of the services to be performed by its sponsors, officers, and volunteers, I do hereby assume all the risks and hazards incidental to the conduct of the activities, and I do further hereby release, absolve, indemnify, and hold harmless Project C.H.U.C.K., operated and sponsored by Best of the Batch, its sponsors, officers, and volunteers of and from all manner of action and actions, cause or causes of action, suits, debts and sums of money, claims of demands whatsoever, in law or equity, arising out of or pursuant to the conduct of the activities. I am fully aware of risks inherent to this activity and should not participate or allow my child to participate unless medically able. I assume all risks associated with this activity. I also agree that photographs, recordings or any other record may be used for the purpose of promoting programs operated or sponsored by Best of the Batch. In case of accident or illness, I authorize a representative of Best of the Batch to obtain immediate care deemed necessary by licensed medical personnel. I have read and fully understand that these terms are contractual and are not a mere recital and sign it voluntarily, and hereby take responsibility for the above information and it is accurate to the best of my knowledge. I also understand that if not correct, my above-named child will be ineligible to play for the season.</p>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div class="field">
      <%= f.check_box :parent_release_agree %>
      <%= f.label :parent_release_agree, :label => "Parent/Guardian - Click to agree with the above" %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="field">
      <%= f.label :child_signature, :label => "Student Participant - If you agree with the above, please type your name:" %> <br>
      <%= f.text_field :child_signature, :class => "input-lg" %>
    </div>
  </div>
</div>
</div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="field">
          # f.label :household_id %><br>
          <%#= f.collection_select :household_id, Household.all, :id, :id, prompt: "Select..." %>
        </div>
      </div> 
      <div class="col-xs-6 col-sm-4">
        <div class="field">
          <%#= f.label :first_name %>
          <%#= f.text_field :first_name, :class => "input-lg" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="field">
          <%#= f.label :last_name %>
          <%#= f.text_field :last_name, :class => "input-lg" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="field">
          <%#= f.label :gender %>
          <%#= f.select :gender, Student::GENDER_ARRAY, :prompt => "Select gender...", :class => "input-lg"%>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-8">
        <div class="field">
          <%#= f.label "Date of Birth" %>
          <%#= f.text_field :dob, :class => "input-lg" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%#= f.label :grade %>
          <%#= f.number_field :grade, :class => "input-lg" %>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="field">
          <%#= f.label :cell_phone %>
          <%#= f.text_field :cell_phone, :class => "input-lg" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field">
          <%#= f.label :email %>
          <%#= f.text_field :email, :class => "input-lg" %>
        </div>
      </div>
    </div>

    <br>

    <h1>Health Information</h1>

      <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="field">
          <%#= f.label :emergency_contact_name %>
          <%#= f.text_field :emergency_contact_name, :class => "input-lg" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field">
          <%#= f.label :emergency_contact_phone %>
          <%#= f.text_field :emergency_contact_phone, :class => "input-lg" %>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="field">
          <%#= f.label :allergies %><br>
          <%#= f.text_area :allergies, :class => "input-lg" %>
        </div>
      </div> 
      <div class="col-sm-6">
        <div class="field">
          <%#= f.label :medications %><br>
          <%#= f.text_area :medications, :class => "input-lg" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field">
          <%#= f.label :school_id %><br>
          <%#= f.number_field :school_id, :class => "input-lg" %>
        </div>
      </div>
    </div> -->

    <%#= f.input :bracket_ids, collection: Bracket.all, as: :check_boxes  %>

    <!-- <div class="field">
      <%#= f.label :has_birth_certificate %><br>
      <%#= f.check_box :has_birth_certificate %>
    </div> -->
    <!-- <div class="field">
      <%#= f.label :allergies %><br>
      <%#= f.text_area :allergies %>
    </div>
    <div class="field">
      <%#= f.label :medications %><br>
      <%#= f.text_area :medications %>
    </div> -->
  <!-- <div class="field">
    <%#= f.label :security_question %><br>
    <%#= f.text_area :security_question %>
  </div>
  <div class="field">
    <%#= f.label :security_response %><br>
    <%#= f.text_area :security_response %>
  </div> -->
  <!-- <div class="field">
    <%#= f.label :active %><br>
    <%#= f.check_box :active %>
  </div> -->
  </div>
  <div class = "row">
      <% if controller.action_name=="edit" or controller.action_name == "update" %>
        <div class="col-sm-6">
          <%= f.submit "Update", :class => 'btn btn-success' %>
        </div>
        <div class="col-sm-6">
           <%# if controller.action_name=="edit" || controller.action_name=="new"%>
          <%= link_to 'Cancel', home_path, :class => 'btn btn-danger' %>
          <%#end%>
        </div>
      <% else %>
        <div class="col-sm-6">
          <%= f.submit "Submit", :class => 'btn btn-success' %>
        </div>
        <div class="col-sm-6">
           <%# if controller.action_name=="edit" || controller.action_name=="new"%>
          <%= link_to 'Cancel', home_path, :class => 'btn btn-danger' %>
          <%#end%>
        </div>
      <% end %>
  </div>
<% end %>
