<!-- <div class="container well"> -->
<center><h2>Guardians</h2>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cell phone</th>
      <th>Receives texts?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% guardian = @guardians#@guardians.each do |guardian| %>
      <tr>
        <td><%= link_to guardian.proper_name, guardian %></td>
        <td><%= guardian.email %></td>
        <td><%= number_to_phone guardian.cell_phone %></td>
        <td>
         <% if guardian.receives_text_msgs == true %>
         <%= link_to(image_tag('check16.png')) %> 
         <%else%>
         <%= link_to(image_tag('missing16.png')) %> 
         <%end%>
        </td>
        <td>
        <td><%= link_to(image_tag('edit.png'), edit_guardian_path(guardian)) %></td>
        <td><%= link_to(image_tag('delete.png'), guardian, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<!-- </div> -->