<%= simple_form_for(@roster_spot) do |f| %>
  <% if @roster_spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roster_spot.errors.count, "error") %> prohibited this roster_spot from being saved:</h2>

      <ul>
      <% @roster_spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.input_field :team_id, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.input_field :student_id, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :jersey_number %><br>
    <%= f.input_field :jersey_number,  :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.input_field :active,  as: :boolean, :class => "input-lg" %>
    <!-- BUT YOU NEVER MAKE A ROSTER SPOT DIRECTLY, RIGHT? -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
