<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <%= link_to image_tag('boblogo.png'), home_path %>
    </div>
    <div class="col-xs-6 col-sm-6">
      <h1 class="headerfont">Project C.H.U.C.K.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
    </div>
    <div class="col-xs-6 col-sm-6">
      <right><h5 class="text-right">Continuously Helping Uplift Community Kids</h5></right>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class = "col-sm-12">
      <ul class="nav nav-pills nav-justified">
        <li><%= link_to 'Students', students_path %></li> 
        <li><%= link_to 'Teams', teams_path %></li>
        <li><%= link_to 'Brackets', brackets_path %></li>
        <li><%= link_to 'Volunteers', volunteers_path %></li>
        <li><%= link_to 'Tournaments', tournaments_path %></li>
        <li><%= link_to image_tag('logout16.png'), logout_path %></li>
        <!-- <li><%#= link_to image_tag('logout16.png'), render :partial => "secondary" %></li>  -->
      </div>
    </div>
  </div>
  <hr class="reducebottom">
  <div class="container">
  <div class="row">
    <div class = "col-sm-2">
    </div>
    <div class = "col-sm-8">
      <ul class="nav nav-pills nav-justified">
        <li class="small"><%= link_to 'Schedule', schedule_path %></li>
        <li class="small"><%= link_to 'Standings', standings_path %></li>
        <li class="small"><%= link_to 'Analytics', analytics_path %></li>
        <li class="small"><%= link_to 'Households', households_path %></li>
        <li class="small"><%= link_to 'Guardians', guardians_path %></li> 
        <li class="small"><%= link_to 'Roster Spots', roster_spots_path %></li> 
        <li class="small"><%= link_to 'Games', games_path %></li>
        <!-- <li><%#= link_to image_tag('logout16.png'), render :partial => "secondary" %></li>  -->
      </div>
    </div>
    <div class = "col-sm-2">
    </div>
  </div>
  <hr class="reducetop">

 <!--  <div class="container">
    <div class="row">
      <div class = "col-sm-2"></div>
      <div class = "col-sm-8">

        <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
        <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
        <div class="wrapper">
          <ul class="nav nav-pills list" id="myTab">
            <li><%#= link_to 'Students', students_path %></li> 
            <li><%#= link_to 'Teams', teams_path %></li> 
            <li><%#= link_to 'Brackets', brackets_path %></li> 
            <li><%#= link_to 'Volunteers', volunteers_path %></li> 
            <li><%#= link_to 'Tournaments', tournaments_path %></li>
            <li><%#= link_to 'Households', households_path %></li>
            <li><%#= link_to 'Guardians', guardians_path %></li> 
            <li><%#= link_to 'Games', games_path %></li>
            <li><%#= link_to 'Locations', locations_path %></li>
            <li><%#= link_to image_tag('logout16.png'), logout_path %></li>
          </ul>
        </div>
      </div>
      <div class = "col-sm-2"></div>
    </div>
  </div>
-->
 <!--  <div class="container">
    <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
    <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
    <div class="wrapper">
      <ul class="nav nav-tabs list" id="myTab">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="#messages">Messages</a></li>
        <li><a href="#settings">Settings</a></li>
        <li><a href="#">Tab4</a></li>
        <li><a href="#">Tab5</a></li>
        <li><a href="#">Tab6</a></li>
        <li><a href="#">Tab7</a></li>
        <li><a href="#">Tab8</a></li>
        <li><a href="#">Tab9</a></li>
        <li><a href="#">Tab10</a></li>
        <li><a href="#">Tab11</a></li>
        <li><a href="#">Tab12</a></li>
        <li><a href="#">Tab13</a></li>
        <li><a href="#">Tab14</a></li>
        <li><a href="#">Tab15</a></li>
        <li><a href="#">Tab16</a></li>
        <li><a href="#">Tab17</a></li>
      </ul>
    </div>
  </div>
  <hr>
-->
