<div class="row">
	<div class="col-xs-12 col-sm-12">
		<center><br>
			<%= link_to image_tag('boblogo.png'), home_path %><br>
			<h1>Project C.H.U.C.K. </h1>
      <h5>Continuously Helping Uplift Community Kids</h5>
      <% if logged_in? && current_user.role == "guardian" %>
        <br>
        <div class="container">
  <div class="row">
    <div class = "col-sm-12">
      <ul class="nav nav-pills nav-justified">
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'My Students', students_path %></li>
        <li><%= link_to 'Schedule', schedule_path %></li>
        <li><%= link_to 'Standings', standings_path %></li>
        <li><%= link_to 'My Info', guardian_path(current_user.guardian) %></li>
        <li><%= link_to 'Instructions', instructions_path %></li>
        <li><%= link_to image_tag('logout16.png'), logout_path %></li>
      </div>
    </div>
  </div>
      <% elsif logged_in? && current_user.role == "volunteer" %>
        <% if current_user.volunteer.role == "Coach" or current_user.volunteer.role == "Assistant Coach" %>
          <br>
        <div class="container">
          <div class="row">
            <div class = "col-sm-12">
              <ul class="nav nav-pills nav-justified">
                <li><%= link_to 'Home', home_path %></li>
                <li><%= link_to 'My Team', students_path %></li>
                <li><%= link_to 'Schedule', schedule_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'My Info', volunteer_path(current_user.volunteer) %></li>
                <li><%= link_to 'Instructions', instructions_path %></li>
                <li><%= link_to image_tag('logout16.png'), logout_path %></li>
              </div>
            </div>
          </div>
        <% else %>
          <br>
        <div class="container">
          <div class="row">
            <div class = "col-sm-12">
              <ul class="nav nav-pills nav-justified">
                <li><%= link_to 'Home', home_path %></li>
                <li><%= link_to 'Schedule', schedule_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'My Info', volunteer_path(current_user.volunteer) %></li>
                <li><%= link_to 'Instructions', instructions_path %></li>
                <li><%= link_to image_tag('logout16.png'), logout_path %></li>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
		</center>
	</div>
</div>
<hr>
