<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>Role:</strong>
  <%= @user.role.capitalize %>
</p>

<% if not(@user.email.nil?) %>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
<% end %>

<!-- <p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Active after:</strong>
  <%= @user.active_after %>
</p>

<p>
  <strong>Password reset token:</strong>
  <%= @user.password_reset_token %>
</p>

<p>
  <strong>Password reset sent at:</strong>
  <%= @user.password_reset_sent_at %>
</p>
 
-->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
