<p id="notice"><%= notice %></p>

<h2>
  <!-- <strong>Student:</strong> -->
  <%= @registration.student.proper_name %>
</h2>

<p>
  <strong>Bracket:</strong>
  <%= @registration.bracket.min_age.to_s + " - " + @registration.bracket.max_age.to_s %>
</p>

<p>
  <strong>Jersey size:</strong>
  <%= @registration.jersey_size %>
</p>

<h3>Insurance Information </h3>

<p>
  <strong>Insurance provider:</strong>
  <%= @registration.insurance_provider %>
</p>

<p>
  <strong>Insurance policy number:</strong>
  <%= @registration.insurance_policy_no %>
</p>

<h3>Medical Information </h3>

<p>
  <strong>Family physician:</strong>
  <%= @registration.family_physician %>
</p>

<p>
  <strong>Physician phone:</strong>
  <%= @registration.physician_phone %>
</p>

<p>
  <strong>Physical date:</strong>
  <%= @registration.physical_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @registration.active %>
</p>

<h3>Documents</h3>

<p>
  <strong>Has report card:</strong>
  <% if @registration.has_report_card == true %>
         <%= link_to(image_tag('check16.png')) %> 
         <%else%>
         <%= link_to(image_tag('missing16.png')) %> 
         <%end%>
</p>

<p>
  <strong>Has proof of insurance:</strong>
  <% if @registration.has_proof_of_insurance %>
         <%= link_to(image_tag('check16.png')) %> 
         <%else%>
         <%= link_to(image_tag('missing16.png')) %> 
         <%end%>
</p>

<p>
  <strong>Has physical:</strong>
  <% if @registration.has_physical == true %>
         <%= link_to(image_tag('check16.png')) %> 
         <%else%>
         <%= link_to(image_tag('missing16.png')) %> 
         <%end%>
</p>

<!-- 
<p>
  <strong>Active:</strong>
  <%= @registration.active %>
</p> -->

<br> 

<p>
  <strong>Report Card:</strong>
  <%= (link_to "Click to View", @registration.report_card.url) %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
