<div class="container well">
  <center><h1>Tournaments</h1>
  <%= link_to 'New Tournament', new_tournament_path %></center>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Active</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament %></td>
        <td><%= tournament.start_date %></td>
        <td><%= tournament.end_date %></td>
        <td><%= tournament.active %></td>
        <td><%= link_to(image_tag('edit.png'), edit_tournament_path(tournament)) %></td>
        <td><%= link_to(image_tag('delete.png'), tournament, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <span class="paginate">
<%= will_paginate @tournaments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

</div>
