<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h2>Welcome, <%= current_user.volunteer.first_name %>!</h2>
        <p class="lead">Here are the most recent Project C.H.U.C.K. updates!</p><br>
        <center><%= link_to "There are currently "+@notifications_length.to_s+" students with notifications", notifications_path %></center><br>
        <center><p id="update">There are currently <b><%= Student.active.count %></b> students registered &amp; <b><%= Volunteer.all.count %></b> volunteers registered.</p></center>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-6"> 
      <h3>Students Unassigned to a Team</h3>
      <%= render :partial => 'unassigned' %>
    </div> 
    <div class="col-sm-6">
      <h3>Coaches Unassigned to a Team</h3>
      <%= render :partial => 'unassigned_volunteers' %>
    </div>
  </div>
</div>
<div class ="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><%= link_to "Download Data to Excel", download_data_path(format: "xls"), html_options = {:class => 'btn btn-primary'} %></div>
    <div class="col-md-4"></div>
</div>

<br><hr>

<center><h2>Distribution of Registered Students</h2></center>

<!-- gender age school district county -->
<div class="row">
  <div class="col-sm-6"> 
    <center><h3>By Gender</h3></center>
    <%= high_chart("my_id1", @gender_chart) %>
  </div> 
  <div class="col-sm-6"> 
    <center><h3>By Age</h3></center>
    <%= high_chart("my_id3", @ages_chart) %> 
  </div> 
</div>

<div class="row">
  <div class="col-sm-6"> 
    <center><h3>By School District</h3></center>
    <%= high_chart("my_id2", @school_district_chart) %> 
  </div>
  <div class="col-sm-6"> 
    <center><h3>By Student Counties</h3></center>
    <%= high_chart("my_id4", @counties_chart) %> 
  </div> 
</div>


