<!-- 
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<center>
			<%#= link_to image_tag('boblogo.png'), home_path %><br>
			<h1>Project C.H.U.C.K. 2015</h1>
		</center>
	</div>
</div>
<hr> -->
<!-- <br> <br>
<div class = "row">
	<center>
	<h1 style= "font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" >
		Registration for Project C.H.U.C.K. 2015 is now closed.</h1> 
		<br>
	<h3 style= "margin: 0"> Please contact the <a href="http://www.batchfoundation.org">Best of the Batch</a> office </h3> &nbsp;
	<h3 style= "margin: 0"> at 412-326-0119 for more information.</h3>

	</center> -->
	<center><h3>Register for Project C.H.U.C.K.</h3></center>
	<br><br>
	<div class= "col-xs-6 col-sm-6">
    <center>
      <br>
      <%= image_tag "basketball-64.png" %> <br><br>
      <p id="homebutton">STUDENTS</p>
      <%= link_to 'Register as a Parent/Guardian', registerguardian_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
	<div class= "col-xs-6 col-sm-6">
    <center>
      <br>
      <%= image_tag "icon_coach.png" %> <br><br>
      <p id="homebutton">VOLUNTEERS</p>
      <%= link_to 'Register as a Volunteer', registervolunteer_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
</div>

<br><br>

<center>
	<% if logged_in? %>
	<%= link_to 'Administrators', 'home' %>
	<% else %>
	<br>
	Already have an account? <br>
	<%= link_to 'Login here', new_session_path %>
	<% end %>
	<center>