<div class="container well">
    <center><h1>Control Panel</h1></center>

    <br><br>

    <div class="col-sm-4">

    Brackets:<br>
    <%= link_to "Show All", brackets_path %><br>
    <%= link_to "Create", new_bracket_path %><br><br>

    Games:<br>
    <%= link_to "Show All", games_path %><br>
    <%= link_to "Create", new_game_path %><br><br>

    Guardians:<br>
    <%= link_to "Show All", guardians_path %><br>
    <%= link_to "Create", new_guardian_path %><br><br>

    Households:<br>
    <%= link_to "Show All", households_path %><br>
    <%# link_to "Create", new_household_path %><br><br>

    </div>
    <div class="col-sm-4">



<!--     registrations:<br>
    <%= link_to "Show All", registrations_path %><br>
    <%= link_to "Create", new_registration_path %><br><br> -->

    Roster Spots:<br>
    <%= link_to "Show All", roster_spots_path %><br>
    <%= link_to "Create", new_roster_spot_path %><br><br>

<!--     schools:<br>
    <%= link_to "Show All", schools_path %><br>
    <%= link_to "Create", new_school_path %><br><br> -->

    Students:<br>
    <%= link_to "Show All", students_path %><br>
    <%= link_to "Create", new_student_path %><br><br>

<!--     team_games:<br>
    <%= link_to "Show All", team_games_path %><br>
    <%= link_to "Create", new_team_game_path %><br><br> -->

    Teams:<br>
    <%= link_to "Show All", teams_path %><br>
    <%= link_to "Create", new_team_path %><br><br>

    </div>
    <div class="col-sm-4">

    Tournaments:<br>
    <%= link_to "Show All", tournaments_path %><br>
    <%= link_to "Create", new_tournament_path %><br><br>

    Users:<br>
    <%= link_to "Show All", users_path %><br>
    <%# link_to "Create", new_user_path %><br><br>

    Volunteers:<br>
    <%= link_to "Show All", volunteers_path %><br>
    <%= link_to "Create", new_volunteer_path %><br><br>

    </div>


</div>
