<br>
<center><h1>Create Student/User</h1></center>

<br><br>
<div class = "row">
  <div class= "col-xs-4 col-sm-4">
    <center>
      <br>
      <%= image_tag "basketball-64.png" %> <br><br>
      <p id="homebutton">Students</p>
      <%= link_to "Add Student", registerstudent_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
  <div class= "col-xs-4 col-sm-4">
    <center>
      <br>
      <%= image_tag "home-64.png" %> <br><br>
      <p id="homebutton">Guardians</p>
      <%= link_to "Add Guardian", registerguardian_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
  <div class= "col-xs-4 col-sm-4">
    <center>
      <br>
      <%= image_tag "icon_coach.png" %> <br><br>
      <p id="homebutton">Volunteers</p>
      <%= link_to "Add Volunteer", registervolunteer_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
</div>








