<br>
<center><h1>Manage Tournament</h1></center>

<br><br>
<div class = "row">
  <div class= "col-xs-4 col-sm-4">
    <center>
      <br>
      <p id="homebutton">Games</p>
      <%= link_to "View", games_path, :class => 'btn btn-primary btn-lg outline' %> <br>
      <%= link_to "Create", new_game_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
  <div class= "col-xs-4 col-sm-4">
    <center>
      <br>
      <p id="homebutton">Tournaments</p>
      <%= link_to "View", tournaments_path, :class => 'btn btn-primary btn-lg outline' %> <br>
      <%= link_to "Create", new_tournament_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
  <div class= "col-xs-4 col-sm-4">
    <center>
      <br>
      <p id="homebutton">Brackets</p>
      <%= link_to "View", brackets_path, :class => 'btn btn-primary btn-lg outline' %> <br>
      <%= link_to "Create", new_bracket_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
</div>








