 <center><h3>Notifications</h3><br>
  <%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Sorted/Filtered by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %><br>
</center>
 <div id="filterrific_results"> 
  <div class="container well">
  <table class="table">
   <thead>
    <tr>
      <th>Student</th>
      <th>Birth Certificate</th>
      <th>Report Card</th>
      <th>Proof of Insurance</th>
      <th>Physical</th>
    </tr>
  </thead> 

  <tbody>
   <% @students.each do |student| %>
    <% if student.poi_checkoff and student.bc_checkoff and student.rc_checkoff and student.phy_checkoff %>
      <%# next %>
    <% end %>
   
    <tr>
      <td><%= link_to student.proper_name, student %></td>
      <td><%= student.bc_checkoff ? "Done!" : student.has_birth_certificate ? (link_to "Checkoff", birth_certificate_student_path(student)) : "Not Uploaded" %></td>
      <td><%= student.rc_checkoff ? "Done!" : student.has_report_card ? (link_to "Checkoff", report_card_student_path(student)) : "Not Uploaded" %></td>
      <td><%= student.poi_checkoff ? "Done!" : student.has_proof_of_insurance ? (link_to "Checkoff", proof_of_insurance_student_path(student)) : "Not Uploaded" %></td>
      <td><%= student.phy_checkoff ? "Done!" : student.has_physical ? (link_to "Checkoff", physical_student_path(student)) : "Not Uploaded" %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= will_paginate @students, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
