<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @team_game.game.date %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_game.team.name %>
</p>

<%= link_to 'Edit', edit_team_game_path(@team_game) %> |
<%= link_to 'Back', team_games_path %>
