<%= simple_nested_form_for(@game) do |f| %>
<% if @game.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

  <ul>
    <% @game.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class = "container well">
  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :date %><br>
        <%= f.input_field :date %>
      </div>
    </div>
    <!-- <div class-"col-sm-6">
      <div class="field">
        <%# f.label :location_id %><br>
        <%# f.input_field :location_id, prompt: "Please Select...", collection: Location.all, :class => "input-lg" %>
      </div>
    </div> -->
  </div>

  <br>
  <%= f.simple_fields_for :team_games do |team_game_form| %>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <%= render :partial => "team_game_fields", :locals => { :f => team_game_form } %><br>
      <% end %>
    </div>
  </div>

</div>
</div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
      <% if controller.action_name=="edit" %>
        <%= f.submit "Update", :class => 'btn btn-primary' %>
      <% else %>
        <%= f.submit "Create", :class => 'btn btn-primary' %>
      <% end %>
 </div>
 <div class="col-xs-6 col-sm-6">
  <%= link_to 'Back', games_path, :class => 'btn btn-primary' %>
</div>
</div>
<% end %>
