<%= simple_form_for(@school) do |f| %>
<% if @school.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

  <ul>
    <% @school.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container well">
 <div class="row">
   <div class="col-sm-12">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.input_field :name, :class => "input-lg" %>
    </div>
  </div>
</div>
<br>
<div class="row">
 <div class="col-sm-12">
  <div class="field">
    <%= f.label :district %><br>
    <%= f.input_field :district, :class => "input-lg" %>
  </div>
</div>
</div>
<br>
<div class="row">
 <div class="col-sm-12">
  <div class="field">
    <%= f.label :county %><br>
    <%= f.input_field :county, :class => "input-lg" %>
  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
   <%= f.submit "Create", :class => 'btn btn-primary' %>
 </div>
 <div class="col-xs-6 col-sm-6">
  <%= link_to 'Back', schools_path, :class => 'btn btn-primary' %>
</div>
</div>
<% end %>
