<div class="container well">
<center><h2>Schools</h2>
<%= link_to 'New School', new_school_path %></center>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>District</th>
      <th>County</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school %></td>
        <td><%= school.district %></td>
        <td><%= school.county %></td>
        <td><%= link_to(image_tag('edit.png'), edit_school_path(school)) %></td>
        <td><%= link_to(image_tag('delete.png'), school, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @schools, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

</div>
