<!DOCTYPE html> 
<%= simple_form_for(@location) do |f| %>
<% if @location.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

  <ul>
    <% @location.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container well">
  <div class="row">
  <div class="col-sm-6">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.input_field :name, :class => "input-lg" %>
  </div>
</div>
<div class="col-sm-6">
  <div class="field">
    <%= f.label :active %><br>
    <%= f.input_field :active, collection: [['Yes', true],['No',false]], as: :radio_buttons, :class => "input-lg" %>
  </div>
</div>
</div><br>
 <div class="row">
   <div class="col-sm-6">
    <div class="field">
      <%= f.label :street %><br>
      <%= f.input_field :street, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="field">
      <%= f.label :city %><br>
      <%= f.input_field :city, :class => "input-lg" %>
    </div>
  </div>
</div>
<br>
<div class="row">
 <div class="col-sm-6">
  <div class="field">
   <%= f.label :zip %><br>
   <%= f.input_field :zip, :class => "input-lg" %>
 </div>
</div>
<div class="col-sm-6">
  <div class="field">
    <%= f.label :state %><br>
    <%= f.input_field :state, :class => "input-lg" %>
  </div>
</div>
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
   <%= f.submit "Create", :class => 'btn btn-primary' %>
 </div>
 <div class="col-xs-6 col-sm-6">
  <%= link_to 'Back', locations_path, :class => 'btn btn-primary' %>
</div>
</div>
<% end %>
