<div class="container well">
<center><h1>Locations</h1>
<%= link_to 'New Location', new_location_path %></center>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <!-- <th>Zip</th> -->
      <th>State</th>
      <!-- <th></th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.street %></td>
        <td><%= location.city %></td>
        <!-- <td><%= location.zip %></td> -->
        <td><%= location.state %></td>
        <td><%= link_to(image_tag('edit.png'), edit_location_path(location)) %></td>
        <td><%= link_to(image_tag('delete.png'), location, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @locations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

</div>
