<%= simple_nested_form_for @household do |household_form| %>

<% if @household.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>
  <ul>
    <% @household.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %><br>
    <h3>Please re-upload all documents</h3>
  </ul>
</div>
<% end %>

<!-- <div id="accordiondiv">
  <center><h2>Participant Registration Form</h2></center> <br><br>
</div> -->

<fieldset>
  <div id = "accordion" class ="ui-accordion-content">
    <!-- <div class="row"> -->

    <!-- <div class="span7"> -->
    <h3>Household Details</h3>
    <div class="well">
      <h3>General Household Information</h3> <br>
      <%= render :partial => "household_fields", :locals => { :f => household_form } %>

      <hr>

      <!-- <h3>Parent(s)/Guardian(s) in this Household</h3> <br> -->
      <%# household_form.simple_fields_for :guardians do |guardian_form| %>
      <%# render :partial => "guardian_fields", :locals => { :f => guardian_form } %>
      <%# end %>
      <!-- <p>
        <%# household_form.link_to_add "+ Add Another Parent/Guardian", :guardians, :class => "btn addlink" %>
      </p><br /><br /> -->

      <!-- <button class = "btn btn-primary step"> Proceed to Step 2 </button> -->


    <!-- </div> -->
    <!-- </div>  -->

    <!-- <div class="span7">  -->

    <!-- </div> -->

    <!-- <div class="span7">  -->
    <!-- <h3>Step 2: Participant(s) Details</h3> -->
    <!-- <div id="household_students" class="well" class="ui-accordion-content"> -->
      <%# household_form.simple_fields_for :students do |student_form| %>
      <%# render :partial => "student_fields", :locals => { :f => student_form } %>
      <%# end %>

      <p>
       <%# household_form.link_to_add("+ Add Another Student", :students, :class => "btn addlink") %>
     </p> <br /><br />

     <!-- <button class = "btn btn-primary"> Return to Step 1 (if needed)</button> -->

     <!-- <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <h2>For Parents:</h2>
        <p> Please sign in the box to the right agreeing that all the information entered is accurate to the best of your knowledge and that you have agreed to all terms and conditions necessary for your child to participate in Project CHUCK.</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="sigPad">

          <ul class="sigNav">
            <li class="drawIt"></li>
            <li class="clearButton"><a href="#clear">Clear</a></li>
          </ul>
          <div class="sig sigWrapper">
            <canvas class="pad" width="398" height="150"></canvas>
            <input type="hidden" name="output" class="output">
          </div>
        </div>
      </div>
    </div> -->

    <br>

    <div class="actions">
      <div class="row">
        <div class="col-sm-6">
          <%= link_to 'Cancel', "/home", :class => 'btn btn-primary cancelbtn'%>
        </div>
        <div class="col-sm-6">
          <%= household_form.submit "Submit", :class => 'btn btn-primary successbtn'%>
        </div>
      </div>
    </div>


  </div> 

  <!-- </div>  -->

  <!-- </div> -->

<!-- 
   <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>For Parents:</h2>
      <p> Please sign in the box to the right agreeing that all the information entered is accurate to the best of your knowledge and that you have agreed to all terms and conditions necessary for your child to participate in Project CHUCK.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="sigPad">
        <p class="drawItDesc">* Parent: Sign in the box below</p> 
        <ul class="sigNav">
          <li class="drawIt"></li>
          <li class="clearButton"><a href="#clear">Clear</a></li>
        </ul>
        <div class="sig sigWrapper">
          <canvas class="pad" width="398" height="150"></canvas>
          <input type="hidden" name="output" class="output">
        </div>
      </div>
    </div>
  </div> -->

</fieldset>

</div>

<br>



<% end %>

