<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @household.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @household.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @household.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @household.zip %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @household.home_phone %>
</p>

<p>
  <strong>County:</strong>
  <%= @household.county %>
</p>

<!-- <p>
  <strong>Active:</strong>
  <%= @household.active %>
</p> -->

<%= link_to(image_tag('edit.png'), edit_household_path(@household)) %> Edit | 
   <%= link_to(image_tag('back16.png'), households_path) %> Back
